@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);










#header1-0 H1 {
  color: #0275d8;
  font-size: 36px;
}
#header1-0 I {
  color: #f1c050;
}
#header1-0 .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#header4-1 P {
  text-align: center;
  font-size: 15px;
}
#header4-1 H1 {
  text-align: center;
}
#header4-1 I {
  text-align: center;
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
}
#header4-1 .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#header4-1 B {
  color: #091d2e;
  font-size: 18px;
}
#header4-1 SPAN {
  font-size: 18px;
}
#dropdown-menu-6 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-6 .nav .link,
#dropdown-menu-6 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Oswald', sans-serif;
}
#dropdown-menu-6 .navbar,
#dropdown-menu-6 .dropdown-menu {
  background: #3d58ab;
}
#dropdown-menu-6 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-6 .dropdown-menu a:hover,
#dropdown-menu-6 .dropdown-menu a:focus {
  background: #38509c;
}
#dropdown-menu-6 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-6 .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 13px;
}
#header1-7 .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}
#header1-7 I {
  color: #0275d8;
}
#form1-a .mbr-section-title {
  color: #d5f4f0;
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}
#form1-a .btn {
  font-family: 'Oswald', sans-serif;
}
#form1-a .mbr-section-title B {
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}
#contacts1-e SPAN {
  text-align: center;
  font-size: 13px;
  color: #0275d8;
}
#contacts1-e P {
  color: #f1c050;
  font-family: 'Oswald', sans-serif;
  font-size: 13px;
}
