@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);










#footer1-10 P {
  text-align: center;
  font-size: 14px;
}
#msg-box5-1o .btn {
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}
#msg-box5-1o .lead P {
  color: #40a2f7;
}
#msg-box5-1o .mbr-section-title {
  font-size: 19px;
  color: #fbf2be;
  font-family: 'Oswald', sans-serif;
}
#content5-1t .mbr-section-title {
  color: #2a95f2;
  font-size: 32px;
}
#content5-1t .mbr-section-title B {
  font-size: 30px;
}
#content5-1t P {
  color: #fbf2be;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}
#msg-box1-1v H2 {
  font-size: 19px;
  text-align: center;
}
#msg-box1-1v DIV {
  color: #fbf2be;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}
#msg-box1-1v .btn {
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}
#msg-box1-1v B {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}
#form1-1w .mbr-section-title {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  color: #fbf2be;
}
#form1-1w .btn {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}
#contacts3-1x DIV {
  font-size: 18px;
  color: #d8d4d1;
}
#contacts3-1x B {
  font-size: 18px;
}
#contacts3-1x P {
  font-size: 18px;
  color: #e6e0dc;
}
#contacts3-1x .btn {
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}
#social-buttons1-1y .mbr-section-title {
  font-size: 13px;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  color: #f1c050;
}
